@use "@theme/variables" as *;

/*
  To make styling consistent across browsers.
*/

@import "normalize.css";

/*
  Fonts
*/

html,
body {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/*
  Colors
*/

body {
  color: $color-text-1;
  background-color: $color-surface-2;
}

/*
  Some custom defaults that make life a lot easier.
*/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
